%table
  %thead
    %tr
      %th= t_model_attribute :item, :name
      %th= t_model_attribute :item, :quantity

  %tbody
    = form_tag "/checkout", method: 'post' do
      - @order.items.each do |i|
        %tr
          %td= i.product.name
          %td= text_field "product_#{i.product.id}", :quantity
        %tr
          %td= submit_tag 'Finish purchase'
