%head
  %title
    Sample Cart

  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  / = csrf_meta_tags

= yield

= render 'shared/order', layout: false, order: @order
