%h1= t('title.index.user')
%table
  %tr
    %th= t('header.index.user')
  - @users.each do |user|
    %tr
      %td= user.email
      %td= link_to t('action.show'), user_path(user)
      %td= link_to t('action.edit'), edit_user_path(user)
      %td= link_to t('action.destroy'), user, method: :delete, :data => {confirm: t('general.are_you_sure')}

%br

=link_to t('action.new'), new_user_path
