%h1 Order

Email:
= order.user.email

-if order.items.any?
  %h1 Items

  %table
    %thead
      %tr
        %th Name
        %th Quantity

    %tbody
      - order.items.each do |i|
        %tr{id: "item_#{i.id}"}
          %td= i.product.name
          %td= i.quantity
