%h1=t('title.index.product').capitalize

#cart
  Cart
  %ol
    - if session[:cart]
      - map_items_cart.each do |p|

        %li{ id: "product_#{p.id}" }
          = p.name
          %a{ href: '#' } x

= paginate @products

%ul
  - @products.each do |p|

    %li.draggable{id: "product_#{p.id}"}
      = link_to p.name, p

