%h1=t('title.index.product')

= paginate @products

%table
  %thead
    %tr
      %th=t('activerecord.attributes.product.manufacturer')
      %th=t('activerecord.attributes.product.name')
      %th=t('activerecord.attributes.product.description')
  %tbody
    - @products.each do |product|
      %tr{id: "product_#{product.id}"}
      %td= product.manufacturer.name
      %td= product.name
      %td= product.description
      %td= link_to t('action.show'), product_path(product)
      %td= link_to t('action.edit'), edit_product_path(product)
      %td= link_to t('action.destroy'), product, method: :delete, data:{confirm: t('general.are_you_sure')}
%br
= link_to t('action.new'), new_product_path
