%h1=t('title.show.product')
%br

= "#{t_model_attribute :product, :name}:"
= @product.name

%br
= image_tag @product.photo
%br

= "#{t_model_attribute :manufacturer, :description}:"
= @product.description

%br
%br
= link_to t('action.edit'), edit_product_path(@product)
= link_to t('action.list'), products_path