%h1=t('title.index.manufacturer')
%table
  %tr
    %th=t('activerecord.attributes.manufacturer.name')
  - map_manufacturers.each do |manufacturers|
    %tr
    %td= manufacturers.name
    %td= link_to t('action.show'), manufacturer_path(manufacturers)
    %td= link_to t('action.edit'), edit_manufacturer_path(manufacturers)
    %td= link_to t('action.destroy'), manufacturers, method: :delete, data:{confirm: t('general.are_you_sure')}
%br
= link_to t('action.new'), new_manufacturer_path
