%h1=t('title.show.manufacturer')

= "#{t_model_attribute :manufacturer, :name}:"

= @manufacturer.name

%br

= link_to t('action.edit'), edit_manufacturer_path(@manufacturer)

= link_to t('action.list'), manufacturers_path
