<!DOCTYPE html>
<html>

  <head>
    <title>RegisterProductManufacturer</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    <!-- posteriormente criada -->
    <%= notice %>

    <!-- div para exibir na pagina o current_user, que servira para autenticar o login na sessao -->
    <div id="session_id">
      <%= current_user.email if current_user %>
    </div>

  </body>

</html>
