%head{lang: 'pt-BR'}
  %title
    Sample Cart

  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

= yield

#session
  - if current_user
    User session:
    = current_user.email
    = link_to I18n.t('helpers.link.sign_out'), new_session_path, :method => :delete
